__pycache__
*.pyc
*.pyo
.venv
venv
env
.git
.gitignore
.env
.idea
.vscode
data/raw/*
data/processed/*
data/augmented/*
data/yolo/*
notebooks/
runs/
*.ipynb
*.log
.ipynb_checkpoints
app/static/audio/*.mp3
tests/
